<div class="container text-center">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1>Ajouter Client :</h1>

			<%= render 'form' %>

		</div> <!-- col-md-8.end -->
	</div> <!-- row.end -->
</div> <!-- container.end -->

